In [14]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [62]:
a_train = pd.read_csv('data/artificial_train.data', sep=' ', header=None).iloc[:,:-1]

In [63]:
np.unique(a_train.dtypes)

array([dtype('int64')], dtype=object)

In [28]:
a_train.shape

(2000, 500)

In [24]:
a_train.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511

In [25]:
a_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,481.722500,483.452500,510.166000,483.384500,501.612500,479.259000,480.109500,476.565000,486.793500,478.78900,...,482.458500,478.811500,486.356500,496.565500,493.49950,510.893000,478.219500,483.309000,507.977000,490.266000
std,6.421769,30.186294,38.899165,9.059895,41.389418,6.795956,40.575925,1.384461,15.043836,7.19092,...,20.890033,4.011735,23.967366,127.635442,34.81902,37.459353,5.880613,13.559847,37.224297,25.825273
min,462.000000,381.000000,370.000000,453.000000,371.000000,459.000000,334.000000,471.000000,430.000000,455.00000,...,407.000000,463.000000,391.000000,130.000000,368.00000,398.000000,457.000000,435.000000,363.000000,403.000000
25%,477.000000,464.000000,485.000000,477.000000,475.000000,475.000000,452.750000,476.000000,477.000000,474.00000,...,468.000000,476.000000,471.000000,404.000000,470.00000,486.000000,474.000000,474.000000,482.000000,473.000000
50%,482.000000,483.000000,510.500000,483.000000,500.000000,479.000000,480.000000,477.000000,487.000000,479.00000,...,482.000000,479.000000,486.000000,504.000000,492.00000,511.000000,478.000000,483.000000,508.000000,490.000000
75%,486.000000,503.000000,536.000000,490.000000,528.000000,484.000000,506.250000,477.000000,496.250000,484.00000,...,496.000000,481.000000,502.000000,586.000000,517.00000,535.000000,482.000000,492.000000,533.000000,507.250000
max,503.000000,600.000000,654.000000,519.000000,688.000000,505.000000,611.000000,481.000000,536.000000,503.00000,...,549.000000,497.000000,566.000000,920.000000,615.00000,661.000000,500.000000,535.000000,644.000000,583.000000

In [26]:
number_of_nulls = a_train.isna().sum() / a_train.shape[0]

In [27]:
number_of_nulls[number_of_nulls > 0]

Series([], dtype: float64)

In [32]:
a_train = pd.read_csv('data/artificial_train.labels', sep=' ', header=None)

In [33]:
a_train.shape

(2000, 1)

In [35]:
a_train.head()

   0
0 -1
1 -1
2 -1
3  1
4  1

In [36]:
number_of_nulls = a_train.isna().sum() / a_train.shape[0]

In [41]:
a_train = pd.read_csv('data/artificial_valid.data', sep=' ', header=None).iloc[:,:-1]

In [42]:
number_of_nulls = a_train.isna().sum() / a_train.shape[0]

In [43]:
number_of_nulls[number_of_nulls > 0]

Series([], dtype: float64)

# digits

In [59]:
df = pd.read_csv('data/digits_train.data', sep=' ', header=None).iloc[:,:-1]

print(df.shape)

number_of_nulls = df.isna().sum() / df.shape[0]

print(number_of_nulls[number_of_nulls > 0])

(6000, 5000)
Series([], dtype: float64)

In [61]:
np.unique(df.dtypes)

array([dtype('int64')], dtype=object)

In [57]:
df = pd.read_csv('data/digits_train.labels', sep=' ', header=None)

print(df.shape)

number_of_nulls = df.isna().sum() / df.shape[0]

print(number_of_nulls[number_of_nulls > 0])

(6000, 1)
Series([], dtype: float64)

In [58]:
df = pd.read_csv('data/digits_valid.data', sep=' ', header=None).iloc[:,:-1]

print(df.shape)

number_of_nulls = df.isna().sum() / df.shape[0]

print(number_of_nulls[number_of_nulls > 0])

(1000, 5000)
Series([], dtype: float64)